<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <!-- 简化配置
        (1)自动注册DefaultAnnotationHandlerMapping，AnnotationMethodHandlerAdapter
        (2)提供一系列：数据绑定，数字和日期format @NumberFormat,@DateTimeFormat xml,json默认读写支持
    -->
    <mvc:annotation-driven/>

    <!-- 配置jsp显示ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <!-- 验证拦截 -->
    <mvc:interceptors>
        <bean class="org.devefx.validator.external.spring.mvc.SpringValidatorInterceptor"/>
    </mvc:interceptors>
    
    <!-- 静态资源映射 -->
    <mvc:resources location="/resources/" mapping="/resources/**"/>
    
    <!-- 扫描web组件 -->
    <context:component-scan base-package="org.devefx.example.controller"/>
    
</beans>